<h2>Show me trucks near:</h2>
<input id="address" placeholder='Enter an address...' />
<button id="gotoaddress">Center Map Here</button>

<div class="alert-signup starts-hidden">
  <h3>New trucks in your inbox!</h3>
  <p>Enter your email to receive notifications as new trucks start serving your neighborhood.</p>
  <input placeholder="Email address..." />
  <button>Sign me up!</button>
</div>